@font-face {
  font-family: "Avenir";
  src: url("assets/fonts/Avenir-Light.woff2") format("woff2"),
    url("assets/fonts/Avenir-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Avenir";
  src: url("assets/fonts/Avenir-Medium.woff2") format("woff2"),
    url("assets/fonts/Avenir-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Avenir";
  src: url("assets/fonts/Avenir-Heavy.woff2") format("woff2"),
    url("assets/fonts/Avenir-Heavy.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}

html, body {
  font-family: "Avenir";
  font-weight: normal;
}
